<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="Wrapper">
  <div class="WrapperHeader">
    <app-header></app-header>
  </div>

<div id="Welcome">
  <app-welcome-page></app-welcome-page>
</div>
  <div class="WrapperContent" id="WrapperContent">
    <app-menu class="WrapperMenu"></app-menu>
    <div class="OutletMenu">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
